*.pyc
*.py.orig
*.swp
.idea
.DS_Store
dump.rdb
assets/build.js
assets/main.js
node_modules/
bower_components/
assets/
static/
invoices/*
client/tmp
media
venv
env
logs
bin
include
lib
staticfiles/*
sftp-config.json
*.codekit
.codekit-cache
config.codekit
*-ck.js
.sass-cache
.vscode


# Environment files
.env




